<div class="root">
  <header *ngIf="!showRegister">LOGIN</header>
  <header *ngIf="showRegister">REGISTER</header>

  <div id="main">
      <h2>Click on your four unqiue animal pictures.</h2>

      <div class="passcode">
          <div class="pic one"></div>
          <div class="pic two"></div>
          <div class="pic three"></div>
          <div class="pic four"></div>
      </div>

      <div class="gallery-flex-container">
        <div class="gallery">
            <div *ngFor="let img of imgs" class="image ">
                <img [src]="img" width="115px" height="115px">
            </div>
        </div>
      </div>
  </div>

  <footer>
      <button id="cancel" (click)="onCancel()">
          BACK
      </button>
      <button id="login">
          LOGIN
      </button>
  </footer>
</div>
