<div class="root">
  <header *ngIf="!showRegister">LOGIN</header>
  <header *ngIf="showRegister">REGISTER</header>

  <div id="main">

      <input class="name-input" [(ngModel)]="name" type="text" placeholder="Name" required>
      <!-- <h2 *ngIf="!showRegister">Welcome to Brainy Phonics</h2> -->

      <div class="passcode">
          <div class="pic one">
            <img *ngIf="chosenImgs[0]" class="chosen-image" [src]="chosenImgs[0]['url']" (click)="onChosenClick(chosenImgs[0])">
          </div>
          <div class="pic two">
            <img *ngIf="chosenImgs[1]" class="chosen-image" [src]="chosenImgs[1]['url']" (click)="onChosenClick(chosenImgs[1])">
          </div>
          <div class="pic three">
            <img *ngIf="chosenImgs[2]" class="chosen-image" [src]="chosenImgs[2]['url']" (click)="onChosenClick(chosenImgs[2])">
          </div>
          <div class="pic four">
            <img *ngIf="chosenImgs[3]" class="chosen-image" [src]="chosenImgs[3]['url']" (click)="onChosenClick(chosenImgs[3])">
          </div>
      </div>

      <h4>Click on your four unique animal pictures.</h4>

      <div class="gallery-flex-container">
        <div *ngIf="imgs.length" class="gallery">
            <div *ngFor="let img of imgs" class="image ">
                <img [src]="img['url']" width="115px" height="115px" (click)="onImgClick(img)">
            </div>
        </div>
      </div>
  </div>

  <footer>
      <button id="cancel" (click)="onCancel()">
          BACK
      </button>
      <button id="login" (click)="onLogin()">
          LOGIN
      </button>
  </footer>
</div>
