<navbar></navbar>

<div class="container">
    <div style="text-align: center;">
        <h1 style="font-size: 100px;">{{ chosenPhoneme.label }}</h1>
    </div>
    <div class="row no-gutters pb-3">
        <div class="col-auto mr-auto">
            <button *ngIf="lessonIndex > 0" class="btn btn-logout" type="button" (click)="onLeftArrow()">
                <img src="assets/images/left_arrow.png" width="32" height="32" alt="">
            </button>
        </div>
        <div class="col-auto">
            <button *ngIf="lessonIndex < chosenCategoryList.length - 1" class="btn btn-logout" type="button" (click)="onRightArrow()">
                <img src="assets/images/right_arrow.png" width="32" height="32" alt="">
            </button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let word of chosenPhoneme.words" class="col-md-4">
            <img id="sound_img" src="https://img.icons8.com/windows/32/000000/room-sound.png"/>
            <img id="image" [src]="word.img" width="260" height="230" class="img-thumbnail lesson" (click)="playAudio(word.sound)">
        </div>
    </div>
    <div class="row">
      <button (click)="onQuiz()">Take a Quiz!</button>
    </div>
</div>
