.btn-logout {
    border: white solid 1px;
    border-radius: 35px;
    padding: 7px;
    background-color: #b57fe3;
}

.lesson {
    height: 220px;
    width: 260px;
    border-radius: 20px;
    margin: 10px 50px 10px 30px;

    display: flex;
    flex-direction: row;
}

.container {
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.no-gutters {
    margin-right: -80px;
    margin-left: -80px;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

.img-thumbnail .lesson {
    position: relative;
}

.sound-icon {
    position: absolute;
    top: 80%;
    left: 70%;
}

.quiz {
    height: 30px;
}

