<navbar></navbar>

<h1>{{ header }}</h1>

<div class="container">
    <div class="row mx-lg-n5 py-5 justify-content-around">
        <img src="assets/images/vowels.png" width="280" height="280" class="img-thumbnail category" (click)="onVowel()">
    </div>
    <div class="row mx-lg-n5 px-lg-5 pt-3 pb-2">
        <div class="col-md-8 offset-md-5 text-right">
            <button class="btn btn-logout" type="button">
                <img src="assets/images/right_arrow.png" width="32" height="32" alt="">
            </button>
        </div>
    </div>
    <div class="row mx-lg-n5">
        <div class="col-md-12 pb-1 px-lg-5">
            <div class="row mx-lg-n5 justify-content-around">
                <img src="assets/images/vowels.png" width="260" height="230" class="img-thumbnail lesson">
                <img src="assets/images/consonants.png" width="260" height="230" class="img-thumbnail lesson">
                <img src="assets/images/vowels.png" width="260" height="230" class="img-thumbnail lesson">
            </div>
        </div>
    </div>
</div>
