<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="root">
    <navbar></navbar>
    <div class="container">
        <br><br><br>
        <h1>WELCOME TO THE PHONEME QUIZ</h1>
        <br><br>
        <button class="btn btn-show rounded-pill" type="button" (click)="onStart()">START</button>
        <br><br><br>
        <p>
            Here, you will be giving a random letter or pair of letters. <br>
            You have to pick the image that matches the letter's sound! <br>
        </p>
        <p>
            Collect 12 <span class="fa fa-star checked"></span>s for each letter to complete the letter's quiz!<br>
            You can look at your progress on your user page. 
        </p>
        <p>
            Click start to enter the quiz!
        </p>
    </div>
</div>