h1 {
  padding: 10px 20%;
}

.logout {
  padding-right: 4%;
}

.btn-logout {
  border: white solid 1px;
  border-radius: 35px;
  padding: 7px;
  background-color: #b57fe3;
}

.btn-show {
  border: white solid 2px;
  padding: 12px;
  font-size: 30px;
  background-color: #b57fe3;
}

.header {
  font-size: 35px;
}

.progress {
  border: white solid 3px;
}

.no-gutters {
  margin: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.category-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category {
  border: #b57fe3 solid 1px;
  border-radius: 45px;
  width: 325px;
  height: 240px;
  margin-top: 5px;
  line-height: 150px;

  &:nth-last-child(-n+3) {
    margin-top: 30px;
  }
}

.show-all {
  height: 55px;
  padding-top: 4px;
  padding-bottom: 14px;
}