<div class="root">
  <navbar></navbar>
  <div class="container">
    <div class="row mx-lg-n5 py-2 px-lg-5">
      <div class="col-md-6 offset-md-3 py-2 px-lg-5 text-center font-weight-bold header">CATEGORIES</div>
    </div>
    <div *ngIf="categoryImgs" class="category-container">
      <img *ngFor="let image of categoryImgs" [src]="image.img" class="category" (click)="onCategoryClick(image)">
    </div>
    <div class="row mx-lg-n5 px-lg-5 pt-3">
      <div class="col-md-2 offset-md-5 text-center">
        <button class="btn btn-show rounded-pill show-all" type="button" (click)="onShowAll()">SHOW ALL</button>
      </div>
    </div>
  </div>
