<div class="root"> 
    <navbar></navbar>
    <div class="container">
        <h1>{{ userName }}'s progress</h1>
        <hr>
        <br>
        <h3>Overall Progress</h3>
        <p *ngIf="userProgress">
        </p>
        <div class="row mx-lg-n5">
            <div class="col-md-10 offset-md-1 px-lg-5">
                <div class="progress" style="height: 43px;">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" [ngStyle]="{width: totalPercent + '%'}" role="progressbar" attr.aria-valuenow="{{totalPercent}}" aria-valuemin="0" aria-valuemax="100"> {{totalPercent}}% </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <h5>Vowels Progress</h5>
                    <div class="row mx-lg-n5">
                        <div class="col-md-8 offset-md-2 pb-3">
                            <div class="progress" style="height: 30px;">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{width: percentVowels + '%'}" attr.aria-valuenow="{{percentVowels}}" aria-valuemin="0" aria-valuemax="100"> {{percentVowels}}% </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5>Vowels Pairs Progress</h5>
                    <div class="row mx-lg-n5">
                        <div class="col-md-8 offset-md-2 pb-3">
                            <div class="progress" style="height: 30px;">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{width: percentVowelPairs + '%'}" attr.aria-valuenow="{{percentVowelPairs}}" aria-valuemin="0" aria-valuemax="100"> {{percentVowelPairs}}% </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h5>Consonants Progress</h5>
                    <div class="row mx-lg-n5">
                        <div class="col-md-8 offset-md-2 pb-3">
                            <div class="progress" style="height: 30px;">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{width: percentConsonants + '%'}" attr.aria-valuenow="{{percentConsonants}}" aria-valuemin="0" aria-valuemax="100"> {{percentConsonants}}% </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5>Consonant Pairs Progress</h5>
                    <div class="row mx-lg-n5">
                        <div class="col-md-8 offset-md-2 pb-3">
                            <div class="progress" style="height: 30px;">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{width: percentConsonantPairs + '%'}" attr.aria-valuenow="{{percentConsonantPairs}}" aria-valuemin="0" aria-valuemax="100"> {{percentConsonantPairs}}% </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h5>Consonant Blends Progress</h5>
                    <div class="row mx-lg-n5">
                        <div class="col-md-8 offset-md-2 pb-3">
                            <div class="progress" style="height: 30px;">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{width: percentConsonantBlends + '%'}" attr.aria-valuenow="{{percentConsonantBlends}}" aria-valuemin="0" aria-valuemax="100"> {{percentConsonantBlends}}% </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5>Vowel Consonant Blends Progress</h5>
                    <div class="row mx-lg-n5">
                        <div class="col-md-8 offset-md-2 pb-3">
                            <div class="progress" style="height: 30px;">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{width: percentVowelConsonantBlends + '%'}" attr.aria-valuenow="{{percentVowelConsonantBlends}}" aria-valuemin="0" aria-valuemax="100"> {{percentVowelConsonantBlends}}% </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

