
.container {
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.progress {
    border: white solid 3px;
}   