<div class="root"> 
    <navbar></navbar>
    <div class="container">
        <h1>{{ userName }}'s pwogress</h1>
        <hr>
        <br>
        <h4>Overall Progress</h4>
        <div class="row mx-lg-n5">
            <div class="col-md-6 offset-md-3 pb-1 px-lg-5">
                <div class="progress" style="height: 30px;">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
            </div>
        </div>
    </div>
</div>

