<div class="root">
    <navbar></navbar>
    <div class="row quiz">
        <div class="col-md-3" id="phoneme">
            <h1>b</h1>
            <br>
            <br>
            <stars></stars>
        </div>
        <div class="row col-md-9" id="words">
            <div id="card" class="col-sm-6" *ngFor="let w of choices">
                <div>
                    <h3 *ngIf="clicked">{{w.label}}</h3>
                    <img id="image" [src]="w.img" width="200" height="200">
                </div>
            </div>
        </div>
    </div>
</div>
