
#card { 
    text-align: center;
    margin: auto;
}

h1 { 
    font-size: 100px;
}

#phoneme { 
    background-color: #f0f8ff;  
    text-align: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto; 
}

#words { 
    background-color: white; 
}

.quiz { 
    height: 600px;
}

