
#card {
    text-align: center;
    margin: auto;
}

#let {
    font-size: 100px;
}

#phoneme {
    background-color: #f0f8ff;
    text-align: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
 
h1 { 
    font-size: 60px;
}

#next { 
    font-size: 25px;
    width: 45%;
}

strong { 
    color: #b57fe3;
}

.btn-show {
    border: white solid 2px;
    padding: 7px;
    font-size: 16px;
    background-color: #b57fe3;
  }

#words {
    background-color: white;
}

#finished {
    background-color: white;
    text-align: center;
}

.checked { 
    color: orange;
}

.quiz {
    height: 600px;
}

.card-playing {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image { 
    border-radius: 10px;
}