@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    margin: auto;
    font-size: 64px;
    font-family: "Walter Turncoat", cursive;
}
