h1 {
    padding: 10px 20%;
}

.logout {
    padding-right: 4%;
}

.btn-logout {
    border: white solid 1px;
    border-radius: 35px;
    padding: 7px;
    background-color: #b57fe3;
}

.btn-show {
    border: white solid 2px;
    padding: 15px;
    font-size: 30px;
    background-color: #b57fe3;
}

.header {
    font-size: 35px;
}

.category {
    border: #b57fe3 solid 1px;
    border-radius: 45px;
}

.progress {
    border: white solid 3px;
}
