.label {
  font-size: 90px;
  text-align: center;
  flex: 0.3;
  margin-top: 15%;
}

.card {
  height: 250px;
  width: 350px;
  border-radius: 20px;
  margin: 10px 50px 10px 60px;

  display: flex;
  flex-direction: row;
}

.img {
  position: absolute;
  right: 0;
}
